body {
    background-image: url("../images/bg-moon.png");
}
input{
    font-family: 'Montserrat', sans-serif !important;
}
.bem-vindo{
    background: transparent;
    border: none;
    font-size: 37px;
    text-align: center;
    width: 100%;
    font-weight: 700;
}
.bem-vindo::placeholder{
    color: #352da5;
}
.input-linha{
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    right: 0;
    background: #fff;
    box-shadow: 0 2px 10px 2px rgba(53,45,165,.15);
    border-radius: 10px;
    padding: 30px 30px;
    border: 1px solid rgba(0,0,0,.14);
    margin-top: 30px;
    display: inline-block;
    margin-right: 0;
}

.registro-form{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    margin-top: 15px;
}

.button-amarelo{
    box-sizing: border-box;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
    font-family: Montserrat,sans-serif!important;
    box-shadow: 0 1px 4px rgba(53,45,165,.15);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 30px auto 0;
    padding: 4px 16px;
    height: 40px;
    width: 100%;
    background: #fdd944;
    border: none;
    color: #352da5;
    font-size: 16px;
    font-weight: 700;
}
.button-amarelo:hover{
    background: #f9ca04;
}
.button-amarelo:focus{
    outline: 5px auto !important;
}

.linha-amarela{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    width: 160px;
    height: 10px !important;
    margin: 0px auto 10px;
    background: #fdd944;
    display: block;
    opacity: 1 !important;
}